APP_PORT=8000
APP_KEY=
APP_LOG=console.log

DB_DIALECT=sqlite
DB_HOST=127.0.0.1
DB_NAME=
DB_USER=
DB_PASS=
DB_STORAGE=./database/data.sqlite

# Freemail admin emailt es jelszot varunk az EMAIL_USER es EMAIL_PASS mezokben.
# A Freemail fiokban a Beallitasok / Levelezes / Kliensek engedelyezese opcio legyen bekapcsolva.
APP_URL=http://localhost:4200
FRONTEND_URL=http://localhost:4200
EMAIL_USER=
EMAIL_PASS=