APP_PORT=8000
APP_URL=http://localhost:4200/
APP_KEY=change_me_to_a_long_random_secret
APP_LOG=false

DB_DIALECT=sqlite
DB_HOST=127.0.0.1
DB_NAME=database_development
DB_USER=admin
DB_PASS=
DB_STORAGE=./database/data.sqlite

EMAIL_USER=
EMAIL_PASS=
