
.slot-card {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #e0e0e0 !important;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  height: 100%;
}


.slot-card:hover:not([disabled]) {
  transform: translateY(-5px);
  border-color: #002C5A !important;
  background-color: #f0f7ff; /* Halványkék háttér hoverre */
  box-shadow: 0 8px 15px rgba(0, 44, 90, 0.1);
}


.slot-card.border-primary {
  background-color:#f8fbff;
  border-color: #002C5A !important;
  border-width: 2px !important;
  box-shadow: 0 4px 12px rgba(0, 44, 90, 0.15);
}

/* --- IDŐPONT GOMB  --- */
.slot-button {
  background-color: #FFFFFF;
  color: #002C5A;
  border: 1px solid #C0C0C0;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
  width: 100%;
  pointer-events: none;
}

/* Ha a kártya fölé visszük az egeret, a gomb is "aktiválódik" */
.slot-card:hover:not(.disabled) .slot-button {
  background-color: #002C5A;
  color: #FFFFFF;
  border-color: #002C5A;
}

/* Tiltott állapot */ 
.slot-card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(0.8);
  transform: none !important;
  background-color: #f8f9fa;
  border-color: #dee2e6 !important;
}